.profile {
  padding: 36px 200px 0 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .profile {
    flex-direction: column;
    justify-content: space-between;
    padding: 42px 19px 0;
  }
}
