.popup__close {
  background-image: url("../../../images/close__icon.svg");
  position: absolute;
  background-color: transparent;
  background-size: contain;
  border: none;
  right: -40px;
  top: -40px;
  width: 32px;
  height: 32px;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.5s ease-out;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 680px) {
  .popup__close {
    right: 0;
    top: -36px;
    width: 20px;
    height: 20px;
  }
}
