.elements__delete {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 18px;
  height: 19px;
  background-image: url("../../../images/garbage.svg");
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.5s ease-out;
  color: white;
}

.elements__delete:hover {
  opacity: 0.5;
}
